<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link href="{% static 'images\logo.png' %}" rel="icon"/>   <!--fevicon icon-->
    <link href="{% static 'css\style.css' %}" rel="stylesheet" />
    <title>Call Processing Optimisation</title>
</head>
<body>
<div id="outer" >
    <div id="p1">
        <div class="s1">
            <a href="{% url 'index' %}"><div class="s3" style="background-image:url('{% static "images/logo.png" %}');background-size:100%;background-repeat:no-repeat;"></div></a>
            <div class="s4">
                <h2><span style="color:white;">C</span>all Processing <span style="color:white;">O</span>ptimisation</h2>
                <h4 style="color:#5b7a9a; margin-left:20px;margin-top:-15px;font-size:15px;letter-spacing:2px;text-shadow:1px 1px 1px;">CUSTOMER SUPPORT</h4>
            </div>
            <div class="s5">
            <a href="{% url 'login' %}"><input type="button" class="button1" value="Login"/></a>
            </div>
            <div class="s5">
                <a href="{% url 'registration' %}"><input type="button" class="button1" value="Register"/></a>
            </div>
        </div>
        <hr style="background-color:black;"/>
    <!--Navigation Bar-->
    <div id="menu">
	    <ul>
		    <li><a href="{% url 'index' %}">HOME</a></li>
		    <li><a href="{% url 'about' %}">ABOUT US</a></li>
		    <li><a href="{% url 'registration' %}">REGISTRATION</a></li>
		    <li><a href="{% url 'login' %}">LOGIN</a></li>
		    <li><a style="font-weight:900;color:#ec1c24;" href="{% url 'enquiry' %}">ENQUIRY</a></li>
		</ul>
	</div>
    <!--Navigation bar ends-->
    <div class="s6" style="height:750px;background-color:rgba(255,255,255,0.4);">
        <br/>
            <form method="post" action="{% url 'saveenquiry' %}">
                {% csrf_token %}
                <h2 style="font-family:calibri;letter-spacing:1px;text-align:center;font-weight:900;"><u>Enquiry Form</u></h2>
                <table border="0" style="width:60%;margin:0 auto;" cellspacing="14px">
                    <tr>
                    <td align="right">Enter your name :  </td>
                    <td>
                        <input class="box1" type="text" name="name" required/>
                    </td>
                    </tr>
                    <tr>
                        <td align="right">Select Gender :</td>
                        <td>
                            <input type="radio" name="gender" value="Male" required/>Male
                            <input type="radio" name="gender" value="Female" required/>Female
                        </td>
                    </tr>
                    <tr>
                        <td align="right">Enter Address :</td>
                        <td>
                            <textarea class="box2" name="address" required style="height:150px;width:250px;resize:none;"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">Enter Contact No. :</td>
                        <td>
                            <input class="box1" type="text" name="contactno" required/>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">Enter Email Address :</td>
                        <td>
                            <input class="box1" type="email" name="emailaddress" required/>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">Enter Enquiry Text :</td>
                        <td>
                            <textarea class="box2" name="enquirytext" required></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp</td>
                        <td>
                            <input class="button2" type="submit" value="Submit"/>
                        </td>
                    </tr>
                </table>
            </form>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %} style="list-style-type:none;">
                        <script>
                            var a = "{{ message }}";
                            alert(a);
                        </script>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
        </div>
    </div>
<div class="s9">
    <div class="s11"></div>
    <div class="s10">
        <h1 style="color:white;">About Us</h1>
        <p style="font-family:calibri;color:#808080;letter-spacing:1px;font-weight:900;font-size:17px;">Hey there! Are you
            stuck with our product.No need to worry, we are here to help you 24x7.  Here at CPO, we all work to ensure that all
        our systems in the hands of our customers work flawlessly.  This website is used to answer important queries about
        our products and provide solution to the user in case he gets stuck somewhere.</p>
    </div>
    <div class="s10">
        <img src="{% static 'images/logo.png' %}" height="100px" width="100px" style="margin-left:140px;margin-top:60px;"/>
        <h3 style="color:white;margin-left:80px;font-family:calibri;">Copyright &copy 2019 CPO.All Rights Reserved</h3>
    </div>
    <div class="s10">
        <h3 style="color:white;margin-left:80px;font-family:calibri;margin-top:130px;">Developed By:- <span style="margin-left:18px;">Aviral Singh</span><br/>
            <span style="margin-left:140px;">CSE Ist year</span><br/><span style="margin-left:140px;">KNIT, Sultanpur</span></h3>
    </div>
</div>
</div>
</body>
</html>