<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" width="device-width">
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/43fa865d35.js"></script>
    <link href="{% static 'images\logo.png' %}" rel="icon"/>   <!--fevicon icon-->
    <link href="{% static 'css\style1.css' %}" rel="stylesheet" />
    <title>Call Processing Optimisation</title>
    <script>
        function nav()
        {
        var x = document.getElementById("nav-one");
        if(x.style.display=="none")
        {
        document.getElementById("nav-one").style.display="block";
        document.getElementById("nav-one").style.animation="nav 0.5s forwards";
        document.getElementById("bar").style.transform="rotate(90deg)";
        }
        else
        {
        document.getElementById("bar").style.transform="rotate(0deg)";
        document.getElementById("nav-one").style.transform="nav 0.5s reverse";
        document.getElementById("nav-one").style.display="none";
        }
        }

    </script>
</head>
<body>
<header>
    <button type="button" onclick="nav()"><i class="fas fa-bars fa-4x" id="bar"></i></button>
    <img src="{% static 'images/logo.png' %}"/>
    <p>Call Processing</p>
    <p>Optimisation</p>
    <a href="{% url 'login' %}" style="text-decoration:none;"><button class="btn btn-one">SIGN IN</button></a>
    <a href="{% url 'registration' %}" style="text-decoration:none;"><button class="btn btn-one">REGISTER</button></a>
    <nav id="nav-one">
        <ul>
            <li><a href="{% url 'index' %}">HOME</a></li>
            <li><a href="{% url 'about' %}">ABOUT US</a></li>
            <li><a href="{% url 'registration' %}">REGISTRATION</a></li>
            <li><a href="{% url 'login' %}">LOGIN</a></li>
            <li><a href="{% url 'enquiry' %}">ENQUIRY</a></li>
        </ul>
    </nav>
</header>
</body>
</html>